@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

/* Font Weight */
$font-weight-500:500;
$font-weight-700:700;

/* Color */
$-P-Cyan: hsl(180, 66%, 49%);
$-P-Dark-Violet: hsl(257, 27%, 26%);

$-S-Red: hsl(0, 87%, 67%);

$-N-Gray: hsl(0, 0%, 75%);
$-N-Grayish-Violet: hsl(257, 7%, 63%);
$-N-Very-Dark-Blue: hsl(255, 11%, 22%);
$-N-Very-Dark-Violet: hsl(260, 8%, 14%);

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: $-N-Grayish-Violet;
  display: inline-block;
}

.mt1 {
  margin-top: 2rem;
}


ul {
  list-style-type: none;
}

.container {
  display: flex;
  margin: 0 auto;
  width: 1100px;
  max-width: 100%;
}

.btn {
  padding: 0.5rem 1.5rem;
  color: #FFF;
  background: $-P-Cyan;
  border-radius: 100vh;
}

#header {
  #navbar {
    padding: 2rem 0;

    .left,
    .logo,
    .nav-list {
      display: flex;
      align-items: center;
    }

    .left,
    .right {
      flex: 1 0 50%;
    }

    .right>.nav-list {
      justify-content: flex-end;
    }

    .logo {
      margin-right: 1rem;
    }

    .nav-list>li {
      margin-left: 1.5rem;
    }

  }

  #hero {

    .hero-content {
      flex: 1 0 50%;
      align-self: center;

      h1 {
        font-weight: $font-weight-700;
        font-size: 64px;
        line-height: 4.5rem;
        color: $-N-Very-Dark-Blue;
      }

      p {
        color: $-N-Grayish-Violet;
        width: 80%;
      }
    }

    .hero-illustration {
      flex: 1 0 50%;

      img {
        position: relative;
        right: -8%;
      }
    }
  }
}

#main {
  margin-top: 7rem;
  background-color: $-N-Gray;

  #shorten {
    flex-direction: column;

    .short-link {
      background: $-N-Very-Dark-Violet url("./images/bg-shorten-desktop.svg") no-repeat;
      border-radius: 8px;
      margin-top: -3.5rem;
      z-index: 999;

      form {
        padding: 2rem 3rem;
        display: flex;

        input {
          padding: 0.7rem 1.3rem;
          width: 80%;
          border-radius: 8px;
          outline: none;
          border: none;
        }

        a {
          border-radius: 5px;
          margin-left: 1rem;
        }
      }
    }
  }
}