@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");
/* Font Weight */
/* Color */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  min-width: 375px;
  width: 100%;
  padding: 20px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

.mt1 {
  margin-top: 1rem;
}

.mt2 {
  margin-top: 1.5rem;
}

.mt3 {
  margin-top: 2rem;
}

.btn {
  display: inline-block;
  padding: 0.65rem 3rem;
  background: #66cccc;
  color: #FFF;
  border-radius: 100vh;
}

#navbar {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#navbar .left .nav-list,
#navbar .right .nav-list {
  display: none;
}

#hero {
  overflow: hidden;
}

#hero .hero-content {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  text-align: center;
}

#hero .hero-content h1 {
  font-size: 38px;
  font-weight: 700;
  line-height: 45px;
  color: #232127;
}

#hero .hero-content p {
  color: #9e9aa7;
}

#hero .hero-illustration {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

#hero .hero-illustration img {
  -webkit-transform: translateX(17%);
          transform: translateX(17%);
  width: 100vw;
}

#main {
  background-color: rgba(191, 191, 191, 0.2);
  margin-top: 7rem;
}

#main #shorten .short-link {
  -webkit-transform: translateY(-58%);
          transform: translateY(-58%);
  z-index: 999;
}

#main #shorten .short-link form {
  background: #3b3054 url("./images/bg-shorten-mobile.svg") no-repeat top right;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1.5rem;
}

#main #shorten .short-link form input {
  padding: 1rem;
  border-radius: 8px;
  outline: none;
  border: none;
}

#main #shorten .short-link form input::-webkit-input-placeholder {
  font-weight: 700;
  color: #9e9aa7;
  font-size: 14px;
}

#main #shorten .short-link form input:-ms-input-placeholder {
  font-weight: 700;
  color: #9e9aa7;
  font-size: 14px;
}

#main #shorten .short-link form input::-ms-input-placeholder {
  font-weight: 700;
  color: #9e9aa7;
  font-size: 14px;
}

#main #shorten .short-link form input::placeholder {
  font-weight: 700;
  color: #9e9aa7;
  font-size: 14px;
}

#main #shorten .short-link form input.error {
  border: 3px solid #f46262;
  position: relative;
}

#main #shorten .short-link form input.error::-webkit-input-placeholder {
  color: #f46262;
}

#main #shorten .short-link form input.error:-ms-input-placeholder {
  color: #f46262;
}

#main #shorten .short-link form input.error::-ms-input-placeholder {
  color: #f46262;
}

#main #shorten .short-link form input.error::placeholder {
  color: #f46262;
}

#main #shorten .short-link form span {
  display: none;
  color: #f46262;
  font-size: 12px;
  margin-top: 0.2rem;
  font-style: italic;
}

#main #shorten .short-link form a {
  border-radius: 5px;
  margin-top: 1rem;
  text-align: center;
}

#main #shorten .statistics {
  text-align: center;
}

s #main #shorten .statistics > h2,
#main #shorten .statistics > p {
  text-align: center;
}

#main #shorten .statistics h2,
#main #shorten .statistics h3 {
  color: #35323e;
}

#main #shorten .statistics p {
  font-size: 14px;
  color: #9e9aa7;
}

#main #shorten .statistics .features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4rem;
}

#main #shorten .statistics .features .brand,
#main #shorten .statistics .features .record,
#main #shorten .statistics .features .custom {
  background: #FFF;
  padding: 1rem 1.5rem 2.25rem 1.5rem;
  border-radius: 8px;
  position: relative;
}

#main #shorten .statistics .features .brand .icon,
#main #shorten .statistics .features .record .icon,
#main #shorten .statistics .features .custom .icon {
  background-color: #35323e;
  display: inline-block;
  border-radius: 50%;
  padding: 0.5rem;
  position: absolute;
  width: 50px;
  height: 50px;
  margin-top: -3.2rem;
  top: 16%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

#main #shorten .statistics .features .brand .icon img,
#main #shorten .statistics .features .record .icon img,
#main #shorten .statistics .features .custom .icon img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 30px;
  height: 30px;
}

#main #shorten .statistics .features .brand h3,
#main #shorten .statistics .features .record h3,
#main #shorten .statistics .features .custom h3 {
  font-size: 18px;
  margin-top: 1rem;
}

#main #shorten .statistics .features .brand p,
#main #shorten .statistics .features .record p,
#main #shorten .statistics .features .custom p {
  font-size: 14px;
  margin-top: 0.5rem;
}

#main #shorten .statistics .features .brand {
  margin-top: 4rem;
}

#main #shorten .statistics .features .record::before {
  z-index: -999;
  content: "";
  background: #66cccc;
  width: 5px;
  height: 100px;
  position: absolute;
  left: 49%;
  top: -40%;
  z-index: -999;
}

#main #shorten .statistics .features .record::after {
  content: "";
  background: #66cccc;
  width: 5px;
  height: 100px;
  position: absolute;
  right: 49%;
  bottom: -40%;
  z-index: -999;
}

#boost {
  background: #3b3054 url("./images/bg-boost-mobile.svg") no-repeat center center;
  padding: 4rem 0;
  text-align: center;
}

#boost h2 {
  color: #FFF;
  margin-bottom: 1rem;
}

footer {
  background: #232127;
  padding: 3rem 0;
}

footer .container {
  text-align: center;
}

footer .container .logo svg path {
  fill: #FFF;
}

footer .container ul {
  margin-top: 1rem;
}

footer .container ul li {
  margin-bottom: 0.5rem;
}

footer .container ul li a {
  color: #bfbfbf;
}

footer .container ul li:first-child {
  margin-bottom: 1rem;
}

footer .container ul li:first-child a {
  color: #FFF;
}

footer .container .socials {
  margin-top: 2rem;
}

footer .container .socials a {
  margin-left: 1rem;
}
/*# sourceMappingURL=style.css.map */