@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

/* Font Weight */
$font-weight-500:500;
$font-weight-700:700;

/* Color */
$-P-Cyan: hsl(180, 50%, 60%);
$-P-Dark-Violet: hsl(257, 27%, 26%);

$-S-Red: hsl(0, 87%, 67%);

$-N-Gray: hsl(0, 0%, 75%);
$-N-Grayish-Violet: hsl(257, 7%, 63%);
$-N-Very-Dark-Blue: hsl(255, 11%, 22%);
$-N-Very-Dark-Violet: hsl(260, 8%, 14%);

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-width: 375px;
  width: 100%;
  padding: 20px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

.mt1 {
  margin-top: 1rem;
}

.mt2 {
  margin-top: 1.5rem;
}

.mt3 {
  margin-top: 2rem;
}

.btn {
  display: inline-block;
  padding: 0.65rem 3rem;
  background: $-P-Cyan;
  color: #FFF;
  border-radius: 100vh;
}

#navbar {
  flex-direction: row;
  justify-content: space-between;

  .left,
  .right {
    .nav-list {
      display: none;
    }
  }
}

#hero {
  overflow: hidden;

  .hero-content {
    order: 2;
    text-align: center;

    h1 {
      font-size: 38px;
      font-weight: $font-weight-700;
      line-height: 45px;
      color: $-N-Very-Dark-Violet;
    }

    p {
      color: $-N-Grayish-Violet;
    }


  }

  .hero-illustration {
    order: 1;

    img {
      transform: translateX(17%);
      width: 100vw;
    }
  }
}

#main {
  background-color: rgba($-N-Gray, $alpha: 0.2);
  margin-top: 7rem;

  #shorten {
    .short-link {
      transform: translateY(-58%);
      z-index: 999;

      form {
        background: $-P-Dark-Violet url("./images/bg-shorten-mobile.svg")no-repeat top right;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        padding: 1.5rem;

        input {
          padding: 1rem;
          border-radius: 8px;
          outline: none;
          border: none;

          &::placeholder {
            font-weight: $font-weight-700;
            color: $-N-Grayish-Violet;
            font-size: 14px;
          }

          &.error {
            border: 3px solid $-S-Red;
            position: relative;

            &::placeholder {
              color: $-S-Red;
            }
          }
        }

        span {
          display: none;
          color: $-S-Red;
          font-size: 12px;
          margin-top: 0.2rem;
          font-style: italic;
        }

        a {
          border-radius: 5px;
          margin-top: 1rem;
          text-align: center;
        }
      }
    }

    .shorted {
      background: #FFF;
      padding: 1rem;
      border-radius: 8px;
      text-align: left;
      margin-bottom: 2rem;
      transform: translateY(-42%);

      .original-link {
        padding-bottom: 0.7rem;
        display: inline-block;
      }

      .shorted-link-copy {
        border-top: 1px solid $-N-Gray;
        margin: 0 -1rem;
        padding: 0.7rem 1rem 0 1rem;

        .shorted-link {
          color: $-P-Cyan;
          display: inline-block;
        }

        .btn {
          border-radius: 5px;
          width: 100%;
          padding: 0.35rem 3rem;
          margin-top: 0.7rem;
          text-align: center;
        }
      }
    }

    .statistics {
      text-align: center;

      s &>h2,
      &>p {
        text-align: center;
      }

      h2,
      h3 {
        color: $-N-Very-Dark-Blue;
      }

      p {
        font-size: 14px;
        color: $-N-Grayish-Violet;
      }

      .features {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 4rem;

        .brand,
        .record,
        .custom {
          background: #FFF;
          padding: 1rem 1.5rem 2.25rem 1.5rem;
          border-radius: 8px;
          position: relative;

          .icon {
            background-color: $-N-Very-Dark-Blue;
            display: inline-block;
            border-radius: 50%;
            padding: 0.5rem;
            position: absolute;
            width: 50px;
            height: 50px;
            margin-top: -3.2rem;
            top: 16%;
            left: 50%;
            transform: translateX(-50%);

            img {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              width: 30px;
              height: 30px;
            }
          }

          h3 {
            font-size: 18px;
            margin-top: 1rem;
          }

          p {
            font-size: 14px;
            margin-top: 0.5rem;
          }
        }

        .brand {
          margin-top: 4rem;
        }

        .record::before {
          z-index: -999;
          content: "";
          background: $-P-Cyan;
          width: 5px;
          height: 100px;
          position: absolute;
          left: 49%;
          top: -40%;
          z-index: -999;
        }

        .record::after {
          content: "";
          background: $-P-Cyan;
          width: 5px;
          height: 100px;
          position: absolute;
          right: 49%;
          bottom: -40%;
          z-index: -999;
        }
      }
    }
  }
}

#boost {
  background: $-P-Dark-Violet url("./images/bg-boost-mobile.svg") no-repeat center center;
  padding: 4rem 0;
  text-align: center;

  h2 {
    color: #FFF;
    margin-bottom: 1rem;
  }

}

footer {
  background: $-N-Very-Dark-Violet;
  padding: 3rem 0;

  .container {
    text-align: center;

    .logo {
      svg {
        path {
          fill: #FFF;
        }
      }
    }

    ul {
      margin-top: 1rem;

      li {
        margin-bottom: 0.5rem;

        a {
          color: $-N-Gray;
        }
      }

      li:first-child {
        margin-bottom: 1rem;

        a {
          color: #FFF;
        }
      }
    }

    .socials {
      margin-top: 2rem;

      a {
        margin-left: 1rem;
      }
    }
  }
}