@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

/* Font Weight */
$font-weight-500:500;
$font-weight-700:700;

/* Color */
$-P-Cyan: hsl(180, 50%, 60%);
$-P-Dark-Violet: hsl(257, 27%, 26%);

$-S-Red: hsl(0, 87%, 67%);

$-N-Gray: hsl(0, 0%, 75%);
$-N-Grayish-Violet: hsl(257, 7%, 63%);
$-N-Very-Dark-Blue: hsl(255, 11%, 22%);
$-N-Very-Dark-Violet: hsl(260, 8%, 14%);

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: $-N-Grayish-Violet;
  display: inline-block;
}

.mt1 {
  margin-top: 2rem;
}


ul {
  list-style-type: none;
}

.container {
  display: flex;
  margin: 0 auto;
  width: 1100px;
  max-width: 100%;

  @media screen and (max-width:375px) {
    flex-direction: column;
    padding: 0 20px;
  }
}

.btn {
  padding: 0.5rem 1.5rem;
  color: #FFF;
  background: $-P-Cyan;
  border-radius: 100vh;

  &:hover {
    background: hsl(180, 72%, 76%);
    color: #FFF !important;
  }
}

#header {

  #navbar {
    padding: 2rem 0;

    .left,
    .logo,
    .nav-list {
      display: flex;
      align-items: center;
    }

    .left,
    .right {
      flex: 1 0 50%;
    }

    .right>.nav-list {
      justify-content: flex-end;
    }

    .logo {
      margin-right: 1rem;
    }

    .nav-list>li {
      margin-left: 1.5rem;

      & a:hover {
        color: $-N-Very-Dark-Violet;
      }
    }

    .burger-menu {
      display: none;
    }

    @media screen and (max-width:375px) {
      flex-direction: row;
      padding: 2rem 20px;

      .nav-list {
        display: none;
      }

      .right {
        .burger-menu {
          display: flex;
          justify-content: flex-end;
          align-items: center;
        }
      }
    }
  }

  #hero {

    .hero-content {
      flex: 1 0 50%;
      align-self: center;

      h1 {
        font-weight: $font-weight-700;
        font-size: 64px;
        line-height: 4.5rem;
        color: $-N-Very-Dark-Blue;
      }

      p {
        color: $-N-Grayish-Violet;
        width: 80%;
      }
    }

    .hero-illustration {
      flex: 1 0 50%;
      transform: translateX(50px);
    }

    @media screen and (max-width:375px) {

      .hero-content {
        order: 2;
        flex: 0 1 100%;
        text-align: center;

        h1 {
          font-size: 44px;
          line-height: 3rem;
          margin: 1rem 0;
        }

        p {
          width: auto;
        }
      }

      .hero-illustration {
        order: 1;
        flex: 0 1 100%;
        transform: translateX(50px);

        img {
          width: 100%;
        }
      }
    }
  }
}

#main {
  margin-top: 7rem;
  background-color: rgba($-N-Gray, $alpha: 0.2);

  #shorten {
    flex-direction: column;

    .short-link {
      background: $-P-Dark-Violet url("./images/bg-shorten-desktop.svg") no-repeat;
      border-radius: 8px;
      margin-top: -3.5rem;
      z-index: 999;

      form {
        padding: 2rem 3rem;
        display: flex;

        input {
          padding: 0.7rem 1.3rem;
          width: 80%;
          border-radius: 8px;
          outline: none;
          border: none;
        }

        a {
          border-radius: 5px;
          margin-left: 1rem;
        }
      }
    }

    .statistics {
      margin: 7rem 0;

      &>h2,
      &>p {
        text-align: center;
      }

      h2,
      h3 {
        color: $-N-Very-Dark-Blue;
      }

      p {
        font-size: 14px;
        color: $-N-Grayish-Violet;
      }

      .features {
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 1.5rem;

        .brand,
        .record,
        .custom {
          background: #FFF;
          padding: 1rem 1.5rem 2.25rem 1.5rem;
          border-radius: 8px;

          .icon {
            background-color: $-N-Very-Dark-Blue;
            display: inline-block;
            border-radius: 50%;
            padding: 0.5rem;
            position: relative;
            width: 50px;
            height: 50px;
            margin-top: -3.2rem;

            img {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              width: 30px;
              height: 30px;
            }
          }

          h3 {
            font-size: 18px;
            margin-top: 1rem;
          }

          p {
            font-size: 14px;
            margin-top: 0.5rem;
          }
        }

        .brand {
          margin-top: 1rem;
        }

        .record {
          margin-top: 6rem;
          position: relative;
        }

        .record::before {
          content: "";
          background: $-P-Cyan;
          width: 50px;
          height: 5px;
          position: absolute;
          left: -10%;
          top: 45%;
          z-index: -999;
        }

        .record::after {
          content: "";
          background: $-P-Cyan;
          width: 50px;
          height: 5px;
          position: absolute;
          right: -10%;
          top: 45%;
          z-index: -999;
        }

        .custom {
          margin-top: 11rem;
        }

        @media screen and (max-width:375px) {
          flex-direction: column;

          .brand,
          .record,
          .custom {
            width: 80%;
          }

          .record::before {
            content: "";
            background: $-P-Cyan;
            width: 5px;
            height: 50px;
            position: absolute;
            left: 50%;
            top: 0%;
            z-index: -999;
          }

          .record::after {
            content: "";
            background: $-P-Cyan;
            width: 5px;
            height: 50px;
            position: absolute;
            right: 50%;
            bottom: -10%;
            z-index: -999;
          }
        }
      }
    }

    @media screen and (max-width:375px) {
      .short-link {
        background: $-P-Dark-Violet url("./images/bg-shorten-mobile.svg") no-repeat;

        form {
          padding: 2rem 3rem;
          flex-direction: column;

          input {
            padding: 0.7rem 1.3rem;
            width: 80%;
            border-radius: 8px;
            outline: none;
            border: none;
          }

          a {
            border-radius: 5px;
            margin-left: 1rem;
          }
        }
      }
    }
  }
}

#boost {
  background: $-P-Dark-Violet url("./images/bg-boost-desktop.svg") no-repeat;
  text-align: center;
  padding: 2.5rem 0;

  h2 {
    color: #FFF;
    margin-bottom: 1rem;
  }

  @media screen and (max-width:375px) {
    background: $-P-Dark-Violet url("./images/bg-boost-mobile.svg") no-repeat center center;
  }
}


footer {
  background: $-N-Very-Dark-Violet;
  padding: 4rem 0;

  .container {
    justify-content: space-around;

    .logo {
      flex-basis: 20%;

      svg {
        path {
          fill: #FFF;
        }
      }
    }

    ul {
      li {
        margin-bottom: 0.5rem;

        a:hover {
          color: $-P-Cyan;
        }
      }

      li:first-child {
        margin-bottom: 1rem;

        a {
          color: #FFF;
        }
      }
    }

    .socials>a {
      margin-left: 1rem;

      &:hover {
        svg {
          path {
            fill: $-P-Cyan;
          }
        }
      }
    }
  }

  @media screen and (max-width:375px) {
    .container {
      text-align: center;

      ul {
        margin-top: 1rem;
      }

      .socials {
        margin-top: 2rem;
      }
    }
  }
}