@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");
/* Font Weight */
/* Color */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
}

@media screen and (min-width: 1100px) {
  body {
    overflow-x: hidden;
  }
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  min-width: 375px;
  width: 100%;
  padding: 20px;
}

@media screen and (min-width: 1100px) {
  .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    min-width: 1100px;
  }
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

.mt1 {
  margin-top: 1rem;
}

.mt2 {
  margin-top: 1.5rem;
}

.mt3 {
  margin-top: 2rem;
}

.btn {
  display: inline-block;
  padding: 0.65rem 3rem;
  background: #66cccc;
  color: #FFF;
  border-radius: 100vh;
}

.btn:hover {
  color: #FFF !important;
  background: rgba(102, 204, 204, 0.8);
}

#navbar {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

#navbar .left .nav-list,
#navbar .right .nav-list {
  display: none;
}

#navbar.active {
  position: relative;
}

#navbar.active .nav-list {
  background: #3b3054;
  width: 90%;
  display: block;
  position: absolute;
  text-align: center;
  padding: 0 2rem;
  z-index: 999;
  left: 5.4%;
}

#navbar.active .nav-list li {
  margin-top: 1.5rem;
}

#navbar.active .nav-list li a {
  color: #FFF;
  width: 100%;
}

#navbar.active .left .nav-list {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#navbar.active .left .nav-list li:first-child {
  padding-top: 1rem;
}

#navbar.active .right .nav-list {
  margin-top: 13rem;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  z-index: 998;
}

#navbar.active .right .nav-list li:first-child {
  border-top: 1px solid #9e9aa7;
  padding-top: 1.5rem;
}

#navbar.active .right .nav-list li:last-child {
  padding-bottom: 2.5rem;
}

@media screen and (min-width: 1100px) {
  #navbar .left,
  #navbar .right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 10%;
  }
  #navbar .left .nav-list,
  #navbar .right .nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #navbar .right > .nav-list {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  #navbar .logo {
    margin-right: 1rem;
  }
  #navbar .nav-list > li {
    margin-left: 1.5rem;
  }
  #navbar .nav-list > li a {
    color: #9e9aa7;
  }
  #navbar .nav-list > li a.btn {
    color: #FFF;
  }
  #navbar .nav-list > li a:hover {
    color: #232127;
  }
  #navbar .burger-menu {
    display: none;
  }
}

#hero {
  overflow: hidden;
}

#hero .hero-content {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  text-align: center;
}

#hero .hero-content h1 {
  font-size: 38px;
  font-weight: 700;
  line-height: 45px;
  color: #232127;
}

#hero .hero-content p {
  color: #9e9aa7;
}

#hero .hero-illustration {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

#hero .hero-illustration img {
  -webkit-transform: translateX(17%);
          transform: translateX(17%);
  width: 100vw;
}

@media screen and (min-width: 1100px) {
  #hero {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  #hero .hero-content {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 50%;
            flex: 1 0 50%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    text-align: left;
    margin: 0 10%;
  }
  #hero .hero-content h1 {
    font-weight: 700;
    font-size: 64px;
    line-height: 4.5rem;
    color: #35323e;
  }
  #hero .hero-content p {
    color: #9e9aa7;
    width: 80%;
  }
  #hero .hero-illustration {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 50%;
            flex: 1 0 50%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  #hero .hero-illustration img {
    width: 100%;
    -webkit-transform: translateX(-20%);
            transform: translateX(-20%);
  }
}

#main {
  background-color: rgba(191, 191, 191, 0.2);
  margin-top: 7rem;
}

#main #shorten .short-link {
  -webkit-transform: translateY(-58%);
          transform: translateY(-58%);
  z-index: 999;
}

#main #shorten .short-link form {
  background: #3b3054 url("./images/bg-shorten-mobile.svg") no-repeat top right;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1.5rem;
}

#main #shorten .short-link form input {
  padding: 1rem;
  border-radius: 8px;
  outline: none;
  border: none;
}

#main #shorten .short-link form input::-webkit-input-placeholder {
  font-weight: 700;
  color: #9e9aa7;
  font-size: 14px;
}

#main #shorten .short-link form input:-ms-input-placeholder {
  font-weight: 700;
  color: #9e9aa7;
  font-size: 14px;
}

#main #shorten .short-link form input::-ms-input-placeholder {
  font-weight: 700;
  color: #9e9aa7;
  font-size: 14px;
}

#main #shorten .short-link form input::placeholder {
  font-weight: 700;
  color: #9e9aa7;
  font-size: 14px;
}

#main #shorten .short-link form input.error {
  border: 3px solid #f46262;
  position: relative;
}

#main #shorten .short-link form input.error::-webkit-input-placeholder {
  color: #f46262;
}

#main #shorten .short-link form input.error:-ms-input-placeholder {
  color: #f46262;
}

#main #shorten .short-link form input.error::-ms-input-placeholder {
  color: #f46262;
}

#main #shorten .short-link form input.error::placeholder {
  color: #f46262;
}

#main #shorten .short-link form span {
  display: none;
  color: #f46262;
  font-size: 12px;
  margin-top: 0.2rem;
  font-style: italic;
}

#main #shorten .short-link form a {
  border-radius: 5px;
  margin-top: 1rem;
  text-align: center;
}

#main #shorten .shorted {
  background: #FFF;
  padding: 1rem;
  border-radius: 8px;
  text-align: left;
  margin-bottom: 2rem;
  -webkit-transform: translateY(-42%);
          transform: translateY(-42%);
}

#main #shorten .shorted .original-link {
  padding-bottom: 0.7rem;
  display: inline-block;
}

#main #shorten .shorted .shorted-link-copy {
  border-top: 1px solid #bfbfbf;
  margin: 0 -1rem;
  padding: 0.7rem 1rem 0 1rem;
}

#main #shorten .shorted .shorted-link-copy .shorted-link {
  color: #66cccc;
  display: inline-block;
}

#main #shorten .shorted .shorted-link-copy .btn {
  border-radius: 5px;
  width: 100%;
  padding: 0.35rem 3rem;
  margin-top: 0.7rem;
  text-align: center;
}

#main #shorten .statistics {
  text-align: center;
}

s #main #shorten .statistics > h2,
#main #shorten .statistics > p {
  text-align: center;
}

#main #shorten .statistics h2,
#main #shorten .statistics h3 {
  color: #35323e;
}

#main #shorten .statistics p {
  font-size: 14px;
  color: #9e9aa7;
}

#main #shorten .statistics .features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4rem;
}

#main #shorten .statistics .features .brand,
#main #shorten .statistics .features .record,
#main #shorten .statistics .features .custom {
  background: #FFF;
  padding: 1rem 1.5rem 2.25rem 1.5rem;
  border-radius: 8px;
  position: relative;
}

#main #shorten .statistics .features .brand .icon,
#main #shorten .statistics .features .record .icon,
#main #shorten .statistics .features .custom .icon {
  background-color: #35323e;
  display: inline-block;
  border-radius: 50%;
  padding: 0.5rem;
  position: absolute;
  width: 50px;
  height: 50px;
  margin-top: -3.2rem;
  top: 16%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

#main #shorten .statistics .features .brand .icon img,
#main #shorten .statistics .features .record .icon img,
#main #shorten .statistics .features .custom .icon img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 30px;
  height: 30px;
}

#main #shorten .statistics .features .brand h3,
#main #shorten .statistics .features .record h3,
#main #shorten .statistics .features .custom h3 {
  font-size: 18px;
  margin-top: 1rem;
}

#main #shorten .statistics .features .brand p,
#main #shorten .statistics .features .record p,
#main #shorten .statistics .features .custom p {
  font-size: 14px;
  margin-top: 0.5rem;
}

#main #shorten .statistics .features .brand {
  margin-top: 4rem;
}

#main #shorten .statistics .features .record::before {
  z-index: -999;
  content: "";
  background: #66cccc;
  width: 5px;
  height: 100px;
  position: absolute;
  left: 49%;
  top: -40%;
  z-index: -999;
}

#main #shorten .statistics .features .record::after {
  content: "";
  background: #66cccc;
  width: 5px;
  height: 100px;
  position: absolute;
  right: 49%;
  bottom: -40%;
  z-index: -999;
}

@media screen and (min-width: 1100px) {
  #main #shorten {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #main #shorten .short-link {
    -webkit-transform: translateY(-66%);
            transform: translateY(-66%);
    margin: 0 10%;
  }
  #main #shorten .short-link form {
    background: #3b3054 url("./images/bg-shorten-desktop.svg") no-repeat top right;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 2.5rem;
    width: 100%;
    gap: 1rem;
  }
  #main #shorten .short-link form input {
    padding: 0.7rem 1.3rem;
    width: 100%;
    height: 3rem;
  }
  #main #shorten .short-link form input::-webkit-input-placeholder {
    font-weight: 700;
    color: #9e9aa7;
    font-size: 14px;
  }
  #main #shorten .short-link form input:-ms-input-placeholder {
    font-weight: 700;
    color: #9e9aa7;
    font-size: 14px;
  }
  #main #shorten .short-link form input::-ms-input-placeholder {
    font-weight: 700;
    color: #9e9aa7;
    font-size: 14px;
  }
  #main #shorten .short-link form input::placeholder {
    font-weight: 700;
    color: #9e9aa7;
    font-size: 14px;
  }
  #main #shorten .short-link form input.error {
    border: 3px solid #f46262;
    position: relative;
  }
  #main #shorten .short-link form input.error::-webkit-input-placeholder {
    color: #f46262;
  }
  #main #shorten .short-link form input.error:-ms-input-placeholder {
    color: #f46262;
  }
  #main #shorten .short-link form input.error::-ms-input-placeholder {
    color: #f46262;
  }
  #main #shorten .short-link form input.error::placeholder {
    color: #f46262;
  }
  #main #shorten .short-link form span {
    display: none;
    color: #f46262;
    font-size: 12px;
    margin-top: 0.2rem;
    font-style: italic;
    position: absolute;
    top: 69%;
  }
  #main #shorten .short-link form a {
    margin: 0;
    width: 22%;
    font-size: 16px;
    height: 3rem;
  }
  #main #shorten .shorted {
    margin: 0rem 10%;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #main #shorten .shorted .original-link {
    padding-bottom: 0rem;
    display: inline-block;
    color: #232127;
  }
  #main #shorten .shorted .shorted-link-copy {
    border-top: none;
    margin: 0 -1rem;
    padding: 0rem 1rem 0 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1.5rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #main #shorten .shorted .shorted-link-copy .shorted-link {
    color: #66cccc;
    display: inline-block;
  }
  #main #shorten .shorted .shorted-link-copy .btn {
    border-radius: 5px;
    width: 100%;
    padding: 0.35rem 2.2rem;
    margin-top: 0;
    text-align: center;
  }
  #main #shorten .statistics {
    margin: 4rem 10%;
  }
  #main #shorten .statistics > p {
    width: 400px;
    margin: 0 auto;
  }
  #main #shorten .statistics .features {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: 2rem;
    gap: 1.5rem;
  }
  #main #shorten .statistics .features .brand {
    margin-top: 0rem;
  }
  #main #shorten .statistics .features .record {
    margin-top: 4rem;
  }
  #main #shorten .statistics .features .custom {
    margin-top: 8rem;
  }
  #main #shorten .statistics .features .record::before {
    width: 100px;
    height: 5px;
    left: -15%;
    top: 50%;
  }
  #main #shorten .statistics .features .record::after {
    width: 100px;
    height: 5px;
    right: -15%;
    top: 50%;
  }
}

#boost {
  background: #3b3054 url("./images/bg-boost-mobile.svg") no-repeat center center;
  padding: 4rem 0;
  text-align: center;
}

#boost h2 {
  color: #FFF;
  margin-bottom: 1rem;
}

@media screen and (min-width: 1100px) {
  #boost {
    background: #3b3054 url("./images/bg-boost-desktop.svg");
  }
}

footer {
  background: #232127;
  padding: 3rem 0;
}

footer .container {
  text-align: center;
}

footer .container .logo svg path {
  fill: #FFF;
}

footer .container ul {
  margin-top: 1rem;
}

footer .container ul li {
  margin-bottom: 0.5rem;
}

footer .container ul li a {
  color: #bfbfbf;
}

footer .container ul li:first-child {
  margin-bottom: 1rem;
}

footer .container ul li:first-child a {
  color: #FFF;
}

footer .container .socials {
  margin-top: 2rem;
}

footer .container .socials a {
  margin-left: 1rem;
}

@media screen and (min-width: 1100px) {
  footer .container {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  footer .container .logo {
    margin-left: 10%;
    -ms-flex-preferred-size: 20%;
        flex-basis: 20%;
    text-align: left;
  }
  footer .container ul {
    text-align: left;
  }
  footer .container ul li a:hover {
    color: #66cccc;
  }
  footer .container .socials {
    margin-right: 10%;
  }
  footer .container .socials a:hover svg path {
    fill: #66cccc;
  }
}
/*# sourceMappingURL=style.css.map */